<%- include("partials/header.ejs") %>

    <p class="info">Welcome to Brunch House where you can enjoy a wonderful meal with your friends. Fill out the form below to book a table for our Sunday brunches.</p>
  </header>
  <div class="form-section">
    <form action="/submit" method="POST">
      <div class="inputfield">
        <label>Date:
          <input required type="date" name="date">
        </label>
      </div>


      <div class="inputfield">
        <label>Time:</label>
        <div>
          <label class="radio-option">
            <input type="radio" name="time" value="12">12.00
          </label>
        </div>
        <div>
          <label class="radio-option">
            <input type="radio" name="time" value="13">13.00
          </label>
        </div>
        <div>
          <label class="radio-option">
            <input type="radio" name="time" value="14">14.00
          </label>
        </div>
      </div>


      <div class="inputfield">
        <label>
          Name:
          <input required type="text" name="name" placeholder="Type your name">
        </label>
      </div>

      <div class="inputfield">
        <label>
          Phone number:
          <input required type="tel" name="telNumber" placeholder="### ### ### ###">
        </label>
      </div>

      <div class="inputfield">
        <label>
          E-mail:
          <input type="email" name="email" placeholder="youremail@gmail.com">
        </label>
      </div>

      <div class="inputfield">
        <label>
          Number of guests:
          <input required type="number" name="guests">
        </label>
      </div>

      <div class="inputfield">
        <label>
          Food preference:
          <select name="foodPreference">
            <option disabled selected>Choose an option</option>
            <option value="vegan">Vegan</option>
            <option value="vegetarian">Vegetarian</option>
            <option value="fish">Fish</option>
            <option value="chicken">Chicken</option>
            <option value="beef">Beef</option>
          </select>
        </label>
      </div>

      <div class="inputfield">
        <label for="requests">
          Special requests and food allergies?
        </label>
        <textarea id="requests" name="requests" cols="30" rows="5" placeholder="Type here"></textarea>
      </div>

      <div class="inputfield">
        <button type="submit">
          Make a booking
        </button>
      </div>
    </form>
  </div>
  
<%- include("partials/footer.ejs") %>
